<div id="change_pwd-page" class="container row-login">
  <div class="col s12 ">
    <h3><span class="span_h3 brown-text"><%=@title%></span></h3>
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Formulaire invalide</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <form class="login-form">
      <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        <%= f.label :pwd, "Mot de passe" %><br />
        <%= f.password_field :pwd %>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="mdi-action-lock-outline prefix"></i>
        <%= f.label :pwd_confirmation, "Confirmation" %><br/><br />
        <%= f.password_field :pwd_confirmation %>
      </div>
      <div class="row">
        <div class="col s12 m5 l4"><p></p></div>
           <%= f.submit "Actualiser MdP" , :class => "btn col s6 m3 l4 waves-light orange"  %>
        <div class="col s12 m5 l4"><p></p></div>
      </div>
    </div>
  </form>

    <%= debug(params) if Rails.env.test? %>
      <% end %>
  </div>
</div>
