<div class="container">
<h3><span class="span_h3 brown-text"><%=@title%></span></h3>
<div class="row">
    <form class="col s12" action="/catalogue" method="post">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate" name="name">
          <label for="icon_prefix">Bière</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light orange" type="submit" name="action">Go
        <i class="material-icons right">send</i>
      </button>
    </form>
</div>
<% if @beers.blank? %>
  <%= "Aucune bière n'a été trouvée." %>
<% else %>
  <table>
    <thead>
      <tr>
          <th data-field="name">Nom</th>
          <th data-field="degree">Degrés</th>
          <th data-field="price">Catégorie</th>
      </tr>
    </thead>

    <tbody>
      <% # Résultat de la recherche #index %>
        <% @beers.each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer %></td>
            <td><%= beer.degree %></td>
            <td><%= link_to beer.beer_category.name, beer.beer_category %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
</div>
