<div id="login-page" class="row-login">

    <div class="col s12 row-login">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <form class="login-form">

       <div class="row">
         
         <div class="input-field col s12 center">

         </div>
       </div>
         <div class="row margin">
         <div class="input-field col s12">

            <i class="mdi-social-person-outline prefix"></i>
    <%= f.label :login %><br />
   <%= f.text_field :login %>
          </div>
       </div>
         <div class="row margin">
         <div class="input-field col s12">

           <i class="mdi-social-person-outline prefix"></i>
            <%= f.label :email, "eMail" %><br />
       <%= f.text_field :email %>
          </div>
      </div>
         <div class="row margin">
        <div class="input-field col s12">

           <i class="mdi-action-lock-outline prefix"></i>
           <%= f.label :password, "Mot de passe" %><br />
       <%= f.password_field :password %>
         </div>
        </div>
        <div class="row margin">
         <div class="input-field col s12">

            <i class="mdi-action-lock-outline prefix"></i>
       <%= f.label :password_confirmation, "Confirmation" %><br/><br />
   <%= f.password_field :password_confirmation %>
         </div>
       </div>

       <div class="row">
         <div class="input-field col s12 m12 l12  login-text">
            <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">changer</a>
          </div>
       </div>
        <div class="row">
        <div class="input-field col s12 actions">

           <%= f.submit "Update" , :class => "btn col s12 waves-light "  %>

         </div>
       <div>

</div>


      </div>

    </form>
       <% end %>
    </div>
  </div>
