<div id="login-page" class="container row-login">

    <div class="col s12 row-login">
      <h3><span class="span_h3 brown-text"><%=@title%></span></h3>
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <form class="login-form">
       <div class="row">

         <div class="input-field col s12 center">

         </div>
       </div>
         <div class="row margin">
         <div class="input-field col s12">

            <i class="mdi-social-person-outline prefix"></i>
            <%= f.label :login %><br />
            <%= f.text_field :login %>
          </div>
          </div>
         <div class="row margin">
         <div class="input-field col s12">

           <i class="mdi-social-person-outline prefix"></i>
            <%= f.label :email, "eMail" %><br />
            <%= f.text_field :email %>
          </div>
      </div>

 </div>
      <div class="row margin">
      <div class="input-field col s12">

         <i class="mdi-social-person-outline prefix"></i>
         <%= f.label :lastName, "Nom" %><br />
         <%= f.text_field :lastName %>
       </div>
       </div>
       <div class="row margin">
       <div class="input-field col s12">

          <i class="mdi-social-person-outline prefix"></i>
          <%= f.label :firstName, "Prénom" %><br />
          <%= f.text_field :firstName %>
        </div>
        </div>
         <div class="row margin">
        <div class="input-field col s12">

           <i class="mdi-action-lock-outline prefix"></i>
           <%= f.label :pwd, "Nouveau mot de passe" %><br />
           <%= f.password_field :pwd %>

         </div>
        </div>
        <div class="row margin">
        <div class="input-field col s12">

           <i class="mdi-action-lock-outline prefix"></i>
           <%= f.label :pwd_confirmation, "Confirmation nouveau mot de passe" %><br />
           <%= f.password_field :pwd_confirmation %>

         </div>
        </div>


  <div class="row margin">
         <div class="input-field col s12">
<span> Visibilitée du profil : </span>
<%= f.select :visibility, options_for_status, {}, prompt: 'Select One' , :class => 'browser-default' %>

  </div>

        <div class="row margin">
         <div class="input-field col s12">

            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.label :old_password, "Ancien mot de passe pour confirmation" %><br/><br />
            <%= f.password_field :old_password %>
         </div>
       </div>
        <div class="row">
           <div class="col s12 m5 l4"><p></p></div>
           <%= f.submit "Editer" , :class => "btn col s6 m3 l4 waves-light orange"%>
           <div class="col s12 m5 l4"><p></p></div>

         </div>
      </div>
    </form>
       <% end %>
    </div>
  </div>
<script src="min/plugin-min.js"></script>
<script src="min/custom-min.js"></script>

<!--  -->
