<div id="login-page" class="container row-login">
  <div class="col s12 ">
    <h3><%=@title%></h3>
    <%= form_for(@user) do |f| %>
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12 center">
        </div>
      </div>
       <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
            <%= f.label :login %><br />
            <%= f.text_field :login %>
        </div>
      </div>
       <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.email_field :email, :class => "validate" %>
          <%= f.label :email, "Email", :'data-error' => "wrong", :'data-success' => "right" %><br />
        </div>
      </div>
        <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.label :pwd, "Mot de passe" %><br />
          <%= f.password_field :pwd %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :pwd_confirmation, "Confirmation" %><br/><br />
      <%= f.password_field :pwd_confirmation %>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m5 l4"><p></p></div>
           <%= f.submit "Inscription" , :class => "btn col s6 m2 l4 waves-light "  %>
        <div class="col s12 m5 l4"><p></p></div>
      </div>

    </form>
      <% end %>
  </div>
</div>
