<div class="container">
<table>
	<thead><div class="card-panel blue">Bons Plans</div></thead>
		<tbody>
		
		<% # Résultat de la recherche #index %>
	<% @deals = Deal.all %>
    <% if @deals.blank? %>
      <%= "Aucun bon plan n'est disponnible!" %>
    <% else %>
		<% @deals.each do |deal| %>
				<tr>
					<td>
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="images/promojupiler.jpg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4"><%= deal.name %><i class="material-icons right">more_vert</i></span>
								<p><a href="#">Lien vers le profil de la bière</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><%= deal.nameBeer %><i class="material-icons right">close</i></span>
								<p><%= deal.description %></p>
								<p>Prix :<%= deal.prix %></p>
								<p>Remise : <%= deal.reduction %></p>
									<div class="card-action">
										<a href="#">Lien vers ...</a>
									</div>
							</div>
						</div>
					</td>
				</tr>
		<% end %>
	<% end %>
	  </tbody>            
</table>
</div>


