

<div class="container">
<div class="row">
    <form class="col s12" action="/catalogue" method="post">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate" name="name">
          <label for="icon_prefix">Bon plan</label>
        </div>
      </div>
    </form>
</div>
<div class="row">
  <button class="btn waves-effect waves-light" type="submit" name="action">Go
    <i class="material-icons right">send</i>
  </button>
</div>


<table>
  <thead>
    <tr>
        <th data-field="nameShop">Nom du vendeur </th>
		<th data-field="nameBeer">Nom de la bière</th>
        <th data-field="description">Description</th>
		<th data-field="reduction">Réduction</th>
		<th data-field="prix">Prix</th>
		
    </tr>
  </thead>

  <tbody>
    <% # Résultat de la recherche #index %>
    <% if @deal.blank? %>
      <%= "Aucun bon plan n'a été trouvé." %>
    <% else %>
      <% @deals.each do |deal| %>
        <tr>
          <td><%= link_to deal.nameShop, deal %></td>
          <td><%= deal.nameBeer %></td>
          <td><%= deal.description %></td>
		  <td><%= deal.reduction %></td>
		  <td><%= deal.prix %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

