<div class="container">
	<h3><span class="span_h3 brown-text"><%=@title%></span></h3>
	<div class="row">
	<% # Résultat de la recherche #index %>
	<% @deals = Deal.all %>
    <% if @deals.blank? %>
      <%= "Aucun bon plan n'est disponnible!" %>
    <% else %>
		<% @deals.each do |deal| %>
		<% @beer = Beer.find_by_id(deal.beer_id) %>
				<div class="col s12 m4">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="images/deals/<%= deal.id=%>.jpg">
						</div>
						<div class="card-content">
			<span class="card-title activator grey-text text-darken-4"><%= deal.name %><i class="material-icons right">more_vert</i></span></br>
							<p><%= deal.beer_place.name %></br>
							   <%= deal.beer_place_type %></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4"><%= deal.name %><i class="material-icons right">close</i></span>
							<p><%= deal.description %></p>
							<p>Référence : <%= deal.reference %> </br>
							<p>Date de debut : <%= deal.start_date.to_formatted_s(:long)  %></br> Date de fin : <%= deal.end_date.to_formatted_s(:long)  %>
							</p>
							<div class="card-action">
								<%= link_to @beer.name, @beer %>
							</div>
						</div>
					</div>
				</div>
		<% end %>
	<% end %>
	</div>
</div>
