<div class="container">
  <div class="card-panel orange darken-3">Ajout d'un bon plan</div>  
  <%= form_for(@deal) do |f| %>
  <form class="col s12">
    <div class="row">
       <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
           <%= f.label :name, "Nom du bon plan" %><br />
           <%= f.text_field :name %>
          </div>
        </div>
    <div class="row">
       <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
           <%= f.label :description %><br />
           <%= f.text_field :description %>
          </div>
        </div>
    <div class="row">
       <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>   
           <%= f.label :reference %><br />
           <%= f.text_field :reference %>
          </div>
        </div>
  
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i> 
           <%= f.label :start_date, "Date de début" %><br />
           <%= f.datetime_local_field :start_date %>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i> 
           <%= f.label :end_date, "Date de fin" %><br />
           <%= f.datetime_local_field :end_date %>
        </div>
      </div>
      


      <div class="row">
       <div class="input-field col s6">
         <%= f.label :beer_place_id, "Nom du shop" %><br><br>
         <%= f.select :beer_place_id, Shop.all.collect { |cat| [cat.name, cat.id]}, {}, prompt: 'Choisir une catégorie' , :class => 'browser-default'%>
      </div>
    </div>   

      <div class="row">
       <div class="input-field col s6">
         <%= f.label :beer_id, "Nom de la bière en rapport au bon plan" %><br><br>
         <%= f.select :beer_id, Beer.all.collect { |cat| [cat.name, cat.id]}, {}, prompt: 'Choisir une catégorie' , :class => 'browser-default'%>
      </div>
    </div>   

     <div class="row">
       <div class="col s12 m5 l4"><p></p></div>
           <%= f.submit "Ajout du bon plan" , :class => "btn col s6 m3 l4 waves-light orange"  %>
        <div class="col s12 m5 l4"><p></p></div>
      </div>
      </form>
       <% end %>
    </div>
  </div>
