<div id="login-page" class="container row-login">
  <div class="col s12 ">
    <%= form_for(@deal) do |f| %>
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12 center">
        </div>
      </div>
       <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
        </div>
      </div>
       <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.label :nameBeer, "Nom de la bière" %><br />
      <%= f.text_field :nameBeer %>
        </div>
      </div>
        <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.label :description, "Description" %><br />
      <%= f.text_field :description %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :categorie, "Catégorie" %><br/><br />
  <%= f.text_field :categorie %>
        </div>
      </div>
	  
	  <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :datedebut, "Date de début" %><br/><br />
  <%= f.text_field :datedebut %>
        </div>
      </div>
	  <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :datefin, "Date de fin" %><br/><br />
  <%= f.text_field :datefin %>
        </div>
      </div>
	  <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :prix, "Prix" %><br/><br />
  <%= f.text_field :prix %>
        </div>
      </div>
	  <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :reference, "Référence" %><br/><br />
  <%= f.text_field :reference %>
        </div>
      </div>
	  <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
      <%= f.label :reduction, "Réduction" %><br/><br />
  <%= f.text_field :reduction %>
        </div>
      </div>
	<div class="row">
        <div class="input-field col s12 actions">

           <%= f.submit "Ajout du bon plan" , :class => "btn col s12 waves-light "  %>

        </div>

    </div>
      

    </form>
      <% end %>
  </div>
</div>
