<div id="login-page" class="container row-login">
  <div class="card-panel orange darken-3">Ajout d'un bon plan</div>
  <div class="col s12 ">
    <%= form_for(@deal) do |f| %>
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12 center">
        </div>
      </div>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <%= f.label :Nom %><br />
            <%= f.text_field :name %>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <%= f.label :Description %><br />
            <%= f.text_field :description %>
        </div>
      </div>
    </form>
  </div>    
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <%= f.label :DateDebut %><br />
            <%= f.text_field :start_date %>
        </div>
      </div>
    </form>
  </div>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <%= f.label :DateFin %><br />
            <%= f.text_field :end_date %>
        </div>
      </div>
    </form>
  </div>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <%= f.label :Reference %><br />
            <%= f.text_field :reference %>
        </div>
      </div>
    </form>
  </div>
      
	<div class="row">
        <div class="input-field col s12 actions">

           <%= f.submit "Ajout du bon plan" , :class => "btn col s12 orange darken-3 "  %>

        </div>

    </div>
      

    </form>
      <% end %>
  </div>
</div>
