<% if signed_in? && current_user.admin? %>
<div class="container">
<h3><span class="span_h3 brown-text"><%=@title%></span></h3>
<div class="row">
  <table>
    <thead>
      <tr>
        <th data-field="state">Etat</th>
        <th data-field="name">Nom</th>
        <th data-field="degree">Degrés</th>
      </tr>
    </thead>

    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <% if beer.confirmed? %>
            <td><i class="material-icons">done</i></td>
          <% else %>
            <td><i class="material-icons">add</i></td>
          <% end %>
          <td><%= beer.name %></td>
          <td><%= beer.degree %></td>
          <td><%= link_to "Editer",  beer %> | <%= link_to "Supprimer",  beer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<p>Vous n'avez pas les droits pour consulter cette page !</p>
<% end %>
