<div class="navbar-fixed scrollspy">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
        <% if signed_in? %>


  <div class="nav-wrapper">
            <a href="<%= root_path %>" id="logo-container" class="brand-logo">Beer Collection</a>
                <ul class="right hide-on-med-and-down">
                    <li><%= link_to "Profil", user_path(current_user) %></li>
                    <li><%= link_to "Ma collection", collection_path %></li>
                    <li><%= link_to "Catalogue", catalogue_path %></li>
                    <li><%= link_to "Déconnexion", signout_path %></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                  <li><%= link_to "Profil", user_path(current_user) %></li>
                  <li><%= link_to "Ma collection", collection_path %></li>
                  <li><%= link_to "Catalogue", catalogue_path %></li>
                  <li><%= link_to "Déconnexion", signout_path %></li>
                </ul>
            <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
      <% else %>
            <div class="nav-wrapper">
            <a href="<%= root_path %>" id="logo-container" class="brand-logo">Beer Collection</a>
                <ul class="right hide-on-med-and-down">
                  <li><%= link_to "Catalogue", catalogue_path %></li>
                  <li><%= link_to "S'identifier", signin_path %></li>
                  <li><%= link_to "S'inscrire", signup_path %></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                  <li><%= link_to "Catalogue", catalogue_path %></li>
                  <li><%= link_to "S'identifier", signin_path %></li>
                  <li><%= link_to "S'inscrire", signup_path %></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
      <% end %>
        <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
        <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>
</div>


        </div>
    </nav>
</div>
