<!DOCTYPE html>
<html>
<head>
  <title>Beerweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- Some icons are not present in the materialize base pack -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Selectionne fichiers _* présents dans layouts -->
  <%= render 'layouts/header' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= debug(params) if Rails.env.test? %>


</body>
</html>
